<a href="https://colab.research.google.com/github/knoppin1/DATA-690-WANG/blob/master/data_cleansing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ken Noppinger

In-class Exercise

Nov. 19, 2020

In [2]:
text = "12XY#$weare&!-"

In [8]:
char_list = []
numbers = ['1','2','3', '4', '5', '6', '7', '8', '9', '0']
upper_chars = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
lower_chars = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
for c in text:
    if c in numbers or c in upper_chars or c in lower_chars:
        char_list.append(c)
clean_text

['1', '2', 'X', 'Y', 'w', 'e', 'a', 'r', 'e']

In [10]:
new_text = "".join(char_list)
new_text

'12XYweare'

In [12]:
numbers = ['1','2','3', '4', '5', '6', '7', '8', '9', '0']
upper_chars = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
lower_chars = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
char_list = [c for c in text if  c in numbers or c in upper_chars or c in lower_chars]
new_text = "".join(char_list)
new_text

'12XYweare'

In [26]:
text = "12XY#$weare&!-"
new_text = ""
char_list = []
for c in text:
    if c.isalnum():
        new_text += c
new_text

'12XYweare'

In [19]:
import string
numbers = ['1','2','3', '4', '5', '6', '7', '8', '9', '0']
numbers = [str(i) for i in range(10)]
upper_chars = string.ascii_uppercase
lower_chars = string.ascii_lowercase
char_list = [c for c in text if  c in numbers or c in upper_chars or c in lower_chars]
new_text = "".join(char_list)
new_text

'12XYweare'

In [24]:
new_text = [x for x in text if x.isalpha() or x.isdigit()]
new_text = "".join(new_text)
new_text

'12XYweare'

In [37]:
def alpha_fil(a_string):
    if a_string == None:
        ret_string = a_string
    else:
        alphanumeric_filter = filter(str.isalnum, a_string)
        ret_string = "".join(alphanumeric_filter)
        print(ret_string)
    return ret_string

In [38]:
alpha_fil(text)

12XYweare

'12XYweare'

In [39]:
import pandas as pd
data = {"sample_text": ["123DVE%$-", None, "werwrewr132324##$rtet^^",None, "greg*I&(^1236%^^%&32r4f3e2"]}
df = pd.DataFrame(data)
df

                  sample_text
0                   123DVE%$-
1                        None
2     werwrewr132324##$rtet^^
3                        None
4  greg*I&(^1236%^^%&32r4f3e2

In [40]:
df["transformed"] = df["sample_text"].apply(alpha_fil)

123DVE
werwrewr132324rtet
gregI123632r4f3e2

In [41]:
df

                  sample_text         transformed
0                   123DVE%$-              123DVE
1                        None                None
2     werwrewr132324##$rtet^^  werwrewr132324rtet
3                        None                None
4  greg*I&(^1236%^^%&32r4f3e2   gregI123632r4f3e2