# Practice examples 
- Python for Data Analysis Chapter 2
- DATA-609: Ken Noppinger

## Python Language Basics

### Indentation example

In [8]:
array = [1,2,3]
less = []
greater = []
for x in array:
    if x < 2:
        less.append(x)
    else:
        greater.append(x)

In [9]:
less

[1]

In [10]:
greater

[2, 3]

### Multiple commands on a single line
note: not good style

In [11]:
a = 5; b = 6; c = 7

In [15]:
print(a,b,c)

5 6 7

### Comments

In [18]:
# Comment before code
print("some output") # Comment on line of code

some output

### Function Call

In [20]:
# Function example
def f(x,y,z):
    return x+y+z

result = f(1, y=2, z=3)
result

6

### Object call

In [25]:
# Object Example

# In this case convert a 1d array to list
import numpy as np

# obj.some_method(var1, var2) - this example passes parameters
arr = np.array([1, 2, 3])
print(f'NumPy Array:\n{arr}')

# obj.some_method() - this example does not pass parameters
list1 = arr.tolist()
print(f'List: {list1}')

NumPy Array:
[1 2 3]
List: [1, 2, 3]

### Values and Argument Passing

In [27]:
# Note that both lists a and b point to the same list in the code below
a = [1, 2, 3]
b = a
a.append(4)
b

[1, 2, 3, 4]

### Dynamic references, strong types
Object references in Python have no type associated with them

In [28]:

a = 5
type(a)

int

In [29]:
a = 'foo'
type(a)

str

In [30]:
# No implicit conversion
'5' + 5

TypeError: can only concatenate str (not "int") to str

In [32]:
# Python is considered a strongly typed language, which means that every object has a specific type (or class)
# Implicit conversions will occur only in certain obvious circumstances such as below
a = 4.5
b = 2
a / b

2.25

In [35]:
# Check object for int type
isinstance(a, int)

False

In [38]:
# Check object for int or float type
isinstance(a, (int,float))

True

### Attributes and Methods

In [42]:
# Access method
a = 'foo'
a.strip('f')

'oo'

In [50]:
# Access method by name (i.e., reflection)
b = getattr(a, 'split')
b('f')

['', 'oo']

### Duck Typing

In [52]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [58]:
# String is iterable
isiterable('string')

True

In [54]:
# List is iterable
isiterable([1,2,3])

True

In [56]:
# Single integer is not iterable
isiterable(5)

False

In [66]:
# Common case: writing a function that can accept any kind of sequence (list, tuple, ndarray) or even an iterator
# Check to see if object is a list and, if not, convert it to one.
my_tuple = (3,4,5)
if not isinstance(my_tuple, list) and isiterable(my_tuple):
    my_list = list(my_tuple)
type(my_list)

list

In [67]:
my_list

[3, 4, 5]

### Imports

In [70]:
# Import a Python module from file some_module.py
import some_module
result = some_module.f(5)
pi = some_module.PI
pi

3.14159

In [72]:
from some_module import f, g, PI
result = g(5, PI)
result

8.14159

In [73]:
import some_module as sm
from some_module import PI as pi, g as gf
r1 = sm.f(pi)
r2 = gf(6, pi)
r1,r2

(5.14159, 9.14159)

### Binary operators and comparisons

In [74]:
5 - 7

-2

In [75]:
12 + 21.5

33.5

In [76]:
5 <= 2

False

In [77]:
# Check for two references to the same object
a = [1,2,3]
b = a
c = list(a)

In [77]:
# a and b are the same object
a is b

True

In [78]:
# a and c are not the same object
a is not c

True

In [79]:
# But comparison of a and c shows they are the same.
a == c

True

### Mutable and immutable objects

In [84]:
# Mutable - lists, dicts, NumPy arrays, and other types/classes
a_list = ['foo', 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [87]:
# Immutable - strings and tuples
a_tuple = (3, 5, (4, 5))
a_tuple[1] = 'four'

TypeError: 'tuple' object does not support item assignment

### Scalar Types

Built-in types for handling numerical data, strings, boolean (True or False) values, and dates and time

| Type | Description |
| ---- | ----------- |
| None | The Python “null” value (only one instance of the None object exists) |
| str | String type; holds Unicode (UTF-8 encoded) strings |
| bytes | Raw ASCII bytes (or Unicode encoded as bytes) |
| float | Double-precision (64-bit) floating-point number (note there is no separate double type) |
| bool | A True or False value |
| int | Arbitrary precision signed integer|

### Numeric Types

int and float

In [91]:
# Int
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

In [93]:
# Float
fval = 7.243
fval2 = 6.78e-5

In [94]:
# Integer division not resulting in a whole number will always yield a floating-point number
3 / 2

1.5

In [98]:
# Integer division with floor operator will truncate fractional part
14 // 3

4

### Strings

In [100]:
a = 'one way of writing a string'
b = "another way"
c = """
This is a longer string that
spans multiple lines
"""

In [101]:
c.count('\n')

3

In [102]:
a.count('w')

2

In [105]:
# Replace
b = a.replace('string', 'longer string')

# b is a copy of a with the replacement
b

'one way of writing a longer string'

In [106]:
# a remains unchanged after the replce operation
a

'one way of writing a string'

In [107]:
# Convert a Python object to a string
a = 5.6
s = str(a)
s

'5.6'

In [108]:
# Strings are sequence of Unicode characters
s = "python"
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [109]:
# First 3 characters of string
s[:3]

'pyt'

In [110]:
# Backslash is an escape character
s = '12\\34'
print(s)

12\34

In [111]:
# Prefix a string with r (i.e., raw) to interpret character as is
s = r'this\has\no\special\characters'
s

'this\\has\\no\\special\\characters'

In [112]:
# Concatenate two strings
a = 'this is the first half '
b = 'and this is the second half'
a + b

'this is the first half and this is the second half'

### Templating

For example below:
- {0:.2f} means to format the first argument as a floating-point number with two
decimal places.
- {1:s} means to format the second argument as a string.
- {2:d} means to format the third argument as an exact integer.

In [119]:
template = '{0:.2f} {1:s} are worth US${2:d}'
template.format(4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth US$1'

###  Bytes and Unicode

In [124]:
val = "español"
val

'español'

In [123]:
type(val)

str

In [121]:
# Convert to Unicode
val_utf8 = val.encode('utf-8')
val_utf8

b'espa\xc3\xb1ol'

In [122]:
type(val_utf8)

bytes

In [125]:
# Decode
val_utf8.decode('utf-8')

'español'

Other historical encodings

In [127]:
val.encode('latin1')

b'espa\xf1ol'

In [128]:
val.encode('utf-16')

b'\xff\xfee\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [129]:
val.encode('utf-16le')

b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

Byte Literals

In [130]:
bytes_val = b'this is bytes'
bytes_val

b'this is bytes'

In [132]:
decoded = bytes_val.decode('utf8')
decoded # this is str (Unicode) now

'this is bytes'

### Boolean

In [133]:
True and True

True

In [134]:
False or True

True

### Type casting

In [140]:
s = '3.14159'
fval = float(s)
type(fval)

float

In [141]:
# Integer rounds down
int(fval)

3

In [137]:
# Boolean is True for non-zero value
bool(fval)

True

In [144]:
bool(0)

False

### None
- Python null value type

In [147]:
a = None
a is None

True

In [148]:
b = 5 
b is not None

True

None is common default for function arguments

In [150]:
def add_and_maybe_multiply(a, b, c=None):
    result = a + b
    
    if c is not None:
        result = result * c
        
    return result

In [151]:
type(None)

NoneType

### Dates and Times

In [153]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day

29

In [154]:
dt.minute

30

Extract date and time objects from datetime object

In [155]:
dt.date()

datetime.date(2011, 10, 29)

In [157]:
dt.time()

datetime.time(20, 30, 21)

In [158]:
# Format the date
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [160]:
# Convert string to datetime object
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [161]:
# Replace minutes and seconds (Note: Datetime is immutable so replace generates a copy)
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0)

Type timedelta

In [163]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta

datetime.timedelta(days=17, seconds=7179)

In [164]:
type(delta)

datetime.timedelta

In [166]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [165]:
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

### Control Flow

In [170]:
x = -1
if x < 0:
    print('It is negative')

It is negative

In [179]:
if x < 0:
    print('It\'s negative')
elif x == 0:
    print('Equal to zero')
elif 0 < x < 5:
    print('Positive but smaller than 5')
else:
    print('Positive and larger than or equal to 5')

It's negative

In [180]:
# Conditions evaluated from left to right.  This can result in short circuit with or conditions once tru condition is met.
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print('Made it')

Made it

In [181]:
# Chain comparisons
4 > 3 > 2 > 1

True

### For loops

In [192]:
# Typical loop
total = 0
collection = [1,2,3]
for value in collection:
    total += value
total

6

In [189]:
# Handling None
sequence = [1, 2, None, 4, None, 5]
total = 0
for value in sequence:
    if value is None:
        continue
    total += value
total

12

In [193]:
# Use of break
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    total_until_5 += value
total_until_5

13

In [194]:
# Break only terminates the innermost for loop
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [196]:
# Iterating tuples or lists
some_list = [(1,2,3),(4,5,6)]
for a, b, c in some_list:
    print(a+b+c)

6
15

### While loops

In [201]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2
x

4

### Pass
- This is a "no-op" statement

In [203]:
x = 0
if x < 0:
    print('negative!')
elif x == 0:
    # TODO: put something smart here
    pass
else:
    print('positive!')

### Range

In [204]:
range(10)

range(0, 10)

In [208]:
# Create a range
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [209]:
# Range with an increment step
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [210]:
# Range with negative increment step
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [215]:
# Iterate a range and index the sequence
total = 0
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    total += seq[i]
total

10

In [216]:
# Total all numbers from 0 to 99,999 that are multiples of 3 or 5
total = 0
for i in range(100000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        total += i
total

2333316668

### Ternary expressions

value = true-expr if condition else false-expr

In [217]:
x = 5
'Non-negative' if x >= 0 else 'Negative'

'Non-negative'