<a href="https://colab.research.google.com/github/knoppin1/DATA-690-WANG/blob/master/Notes/Chapter_05_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practice examplesÂ¶
### Python for Data Analysis Chapter 5 - pandas
### DATA-609: Ken Noppinger

### 5.1 Introduction to pandas Data Structures

In [12]:
import pandas as pd
from pandas import Series, DataFrame

In [27]:
DATA_URL = "https://raw.githubusercontent.com/wcj365/python-stats-dataviz/master/assignment_fall2020/census_cost.csv"
df = pd.read_csv(DATA_URL,skiprows=2)
df.head(10)

   Census Year  Total Population  Census Cost  Average Cost Per Person
0         1790           3929214        44377                   0.0113
1         1800           5308483        66109                   0.0124
2         1810           7239881       178445                   0.0246
3         1820           9633822       208526                   0.0216
4         1830          12866020       378545                   0.0294
5         1840          17069458       833371                   0.0488
6         1850          23191876      1423351                   0.0614
7         1860          31443321      1969377                   0.0626
8         1870          38558371      3421198                   0.0887
9         1880          50155783      5790678                   0.1154

In [29]:
df.shape

(23, 4)

In [30]:
df.sample(5)

    Census Year  Total Population  Census Cost  Average Cost Per Person
1          1800           5308483        66109                   0.0124
15         1940         131669275     67527000                   0.5129
10         1890          62979766     11547127                   0.1833
21         2000         281421906   4500000000                  15.9900
6          1850          23191876      1423351                   0.0614

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     int64
 1   Total Population         23 non-null     int64
 2   Census Cost              23 non-null     int64
 3   Average Cost Per Person  23 non-null     float64
dtypes: float64(1), int64(3)
memory usage: 864.0 bytes

In [28]:
df.columns

Index(['Census Year', 'Total Population', 'Census Cost',
       'Average Cost Per Person'],
      dtype='object')

In [32]:
df.describe()

       Census Year  Total Population   Census Cost  Average Cost Per Person
count      23.0000      2.300000e+01  2.300000e+01                23.000000
mean     1900.0000      1.039211e+08  9.445587e+08                 3.368739
std        67.8233      9.622629e+07  2.830037e+09                 9.278241
min      1790.0000      3.929214e+06  4.437700e+04                 0.011300
25%      1845.0000      2.013067e+07  1.128361e+06                 0.055100
50%      1900.0000      7.630339e+07  1.185400e+07                 0.170700
75%      1955.0000      1.653245e+08  1.096980e+08                 0.658900
max      2010.0000      3.087455e+08  1.300000e+10                42.110000

In [41]:
df[["Census Year","Total Population"]]

    Census Year  Total Population
0          1790           3929214
1          1800           5308483
2          1810           7239881
3          1820           9633822
4          1830          12866020
5          1840          17069458
6          1850          23191876
7          1860          31443321
8          1870          38558371
9          1880          50155783
10         1890          62979766
11         1900          76303387
12         1910          91972266
13         1920         105710620
14         1930         122775046
15         1940         131669275
16         1950         151325798
17         1960         179323175
18         1970         203302031
19         1980         226542199
20         1990         248718301
21         2000         281421906
22         2010         308745538

---
### Series

In [15]:
my_series = pd.Series([4, 7, -5, 3])
my_series

0    4
1    7
2   -5
3    3
dtype: int64

In [16]:
my_series.values

array([ 4,  7, -5,  3])

In [17]:
my_series.index

RangeIndex(start=0, stop=4, step=1)

In [18]:
my_series2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
my_series2

d    4
b    7
a   -5
c    3
dtype: int64

In [19]:
my_series2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

Use labels in the index when selecting single values or a set of values

In [20]:
my_series2['a']

-5

In [21]:
my_series2['d'] = 6

In [22]:
my_series2[['c','a','d']]

c    3
a   -5
d    6
dtype: int64

Using NumPy functions or NumPy-like operations, such as filtering with a boolean
array, scalar multiplication, or applying math functions, will preserve the index-value link

In [24]:
my_series2[my_series2 > 0]

d    6
b    7
c    3
dtype: int64

In [42]:
my_series2 * 2

d    12
b    14
a   -10
c     6
dtype: int64

In [44]:
import numpy as np
np.exp(my_series2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [45]:
'b' in my_series2

True