<a href="https://colab.research.google.com/github/knoppin1/DATA-690-WANG/blob/master/Assignment_04/Assignment_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 04
### Ken Noppinger (knoppin1@umbc.edu)
1. Write code to open the text file [census_cost.txt](census_cost.txt) and read all lines into a list named **"line_list"**. Print line_list.
2. Extract the first two lines and put them in a different list named "top2_list". You will need to use them later. Print the top2_list.
3. Put the rest of the lines (containing useful data elements) in a new list named "data_list". Print data_list.
4. Extract the column **"Census Year"** from data_list and assign them to a list named **year_list**. Remove the asterisk character from the last element "2010*". Print the cleansed year_list.
5. Extract the **"Total Population"** column from the data_list and assign them to a list named **"pop_list"**. Remove the "," from the numbers since Python doesn't recognize them. Print the cleansed "pop_list".
6. Extract the **"Census Cost"** column from the data_list and assign them to a list named **"cost_list"**. Remove the ",", and "\$", and "Billion".
Make sure to add the "0"s to the numbers from which you removed "Billion". Print the cleansed cost_list.  
7. Extract the **"Average Cost per Person"** column from the data_list and assign them to a list named **"avg_list"**. Remove the "cents", and "$".
Make sure to divide the numbers in cents by 100 so that all numbers are measured in dollar. Print the cleansed avg_list.
8. Coalesce the cleansed data and save them to a text file named **"census_cost.csv"**. The new file should look similar to the original source file except that it is in comma-delimited format and the numbers have been cleansed. The top two lines from the original file should be retained in the new file.

---

**1 - Line List**
- Write code to open the text file census_cost.txt and read all lines into a list named **line_list**. 
- Print line_list

In [ ]:
import io

In [ ]:
with open("census_cost.txt", "rt") as txt_file:
    line_list = txt_file.readlines()

In [ ]:
type(line_list)

list

In [ ]:
line_list

['Source: https://www.genealogybranches.com/censuscosts.html\n',
 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n',
 '1790\t3,929,214\t$44,377\t1.13 cents\n',
 '1800\t5,308,483\t$66,109\t1.24 cents\n',
 '1810\t7,239,881\t$178,445\t2.46 cents\n',
 '1820\t9,633,822\t$208,526\t2.16 cents\n',
 '1830\t12,866,020\t$378,545\t2.94 cents\n',
 '1840\t17,069,458\t$833,371\t4.88 cents\n',
 '1850\t23,191,876\t$1,423,351\t6.14 cents\n',
 '1860\t31,443,321\t$1,969,377\t6.26 cents\n',
 '1870\t38,558,371\t$3,421,198\t8.87 cents\n',
 '1880\t50,155,783\t$5,790,678\t11.54 cents\n',
 '1890\t62,979,766\t$11,547,127\t18.33 cents\n',
 '1900\t76,303,387\t$11,854,000\t15.54 cents\n',
 '1910\t91,972,266\t$15,968,000\t17.07 cents\n',
 '1920\t105,710,620\t$25,117,000\t23.76 cents\n',
 '1930\t122,775,046\t$40,156,000\t32.71 cents\n',
 '1940\t131,669,275\t$67,527,000\t51.29 cents\n',
 '1950\t151,325,798\t$91,462,000\t60.44 cents\n',
 '1960\t179,323,175\t$127,934,000\t71.34 cents\n',
 '1970\t203,302,031\t$247,653,000\t$1.22\n',
 '1980\t226,542,199\t$1,078,488,000\t$4.76\n',
 '1990\t248,718,301\t$2,492,830,000\t$10.02\n',
 '2000\t281,421,906\t$4.5 Billion\t$15.99\n',
 '2010*\t308,745,538\t$13 Billion\t$42.11']

In [ ]:
for line in line_list:
    print(line)

Source: https://www.genealogybranches.com/censuscosts.html

Census Year	Total Population	Census Cost	Average Cost Per Person

1790	3,929,214	$44,377	1.13 cents

1800	5,308,483	$66,109	1.24 cents

1810	7,239,881	$178,445	2.46 cents

1820	9,633,822	$208,526	2.16 cents

1830	12,866,020	$378,545	2.94 cents

1840	17,069,458	$833,371	4.88 cents

1850	23,191,876	$1,423,351	6.14 cents

1860	31,443,321	$1,969,377	6.26 cents

1870	38,558,371	$3,421,198	8.87 cents

1880	50,155,783	$5,790,678	11.54 cents

1890	62,979,766	$11,547,127	18.33 cents

1900	76,303,387	$11,854,000	15.54 cents

1910	91,972,266	$15,968,000	17.07 cents

1920	105,710,620	$25,117,000	23.76 cents

1930	122,775,046	$40,156,000	32.71 cents

1940	131,669,275	$67,527,000	51.29 cents

1950	151,325,798	$91,462,000	60.44 cents

1960	179,323,175	$127,934,000	71.34 cents

1970	203,302,031	$247,653,000	$1.22

1980	226,542,199	$1,078,488,000	$4.76

1990	248,718,301	$2,492,830,000	$10.02

2000	281,421,906	$4.5 Billion	$15.99

2010*	308,745,538	$13 Billion	$42.11

---
**2 - Top2 List**
- Extract the first two lines and put them in a different list named **top2_list**. 
- Print the top2_list.

In [ ]:
top2_list = line_list[:2]

In [ ]:
for line in top2_list:
    print(line)

Source: https://www.genealogybranches.com/censuscosts.html

Census Year	Total Population	Census Cost	Average Cost Per Person

---
**3 - Data List**
- Put the rest of the lines (containing useful data elements) in a new list named **data_list**. 
- Print data_list.

In [ ]:
data_list = line_list[2:]

In [ ]:
for line in data_list:
    print(line)

1790	3,929,214	$44,377	1.13 cents

1800	5,308,483	$66,109	1.24 cents

1810	7,239,881	$178,445	2.46 cents

1820	9,633,822	$208,526	2.16 cents

1830	12,866,020	$378,545	2.94 cents

1840	17,069,458	$833,371	4.88 cents

1850	23,191,876	$1,423,351	6.14 cents

1860	31,443,321	$1,969,377	6.26 cents

1870	38,558,371	$3,421,198	8.87 cents

1880	50,155,783	$5,790,678	11.54 cents

1890	62,979,766	$11,547,127	18.33 cents

1900	76,303,387	$11,854,000	15.54 cents

1910	91,972,266	$15,968,000	17.07 cents

1920	105,710,620	$25,117,000	23.76 cents

1930	122,775,046	$40,156,000	32.71 cents

1940	131,669,275	$67,527,000	51.29 cents

1950	151,325,798	$91,462,000	60.44 cents

1960	179,323,175	$127,934,000	71.34 cents

1970	203,302,031	$247,653,000	$1.22

1980	226,542,199	$1,078,488,000	$4.76

1990	248,718,301	$2,492,830,000	$10.02

2000	281,421,906	$4.5 Billion	$15.99

2010*	308,745,538	$13 Billion	$42.11

---
**4 - Census Year**
- Extract the column **"Census Year"** from data_list and assign them to a list named **year_list**. 
- Remove the "*" from the last element "2010*". 
- Print the cleansed year_list.

In [ ]:
year_list = []
for line in data_list:
    # Census Year is the first field in each line
    year_list.append(line.strip("\n").split('\t')[0].strip('*'))
year_list

['1790',
 '1800',
 '1810',
 '1820',
 '1830',
 '1840',
 '1850',
 '1860',
 '1870',
 '1880',
 '1890',
 '1900',
 '1910',
 '1920',
 '1930',
 '1940',
 '1950',
 '1960',
 '1970',
 '1980',
 '1990',
 '2000',
 '2010']

In [ ]:
for year in year_list:
    print(year)

1790
1800
1810
1820
1830
1840
1850
1860
1870
1880
1890
1900
1910
1920
1930
1940
1950
1960
1970
1980
1990
2000
2010

---
**5 - Total Population**
- Extract the **"Total Population"** column from the data_list and assign them to a list named **pop_list**. 
- Remove the "," from the numbers since Python doesn't recognize them.
- Print the cleansed "pop_list".

In [ ]:
pop_list = []
for line in data_list:
    # Total population is the second field in each line
    pop_list.append(line.strip("\n").split('\t')[1].replace(",",""))
pop_list

['3929214',
 '5308483',
 '7239881',
 '9633822',
 '12866020',
 '17069458',
 '23191876',
 '31443321',
 '38558371',
 '50155783',
 '62979766',
 '76303387',
 '91972266',
 '105710620',
 '122775046',
 '131669275',
 '151325798',
 '179323175',
 '203302031',
 '226542199',
 '248718301',
 '281421906',
 '308745538']

In [ ]:
for pop in pop_list:
    print(pop)

3929214
5308483
7239881
9633822
12866020
17069458
23191876
31443321
38558371
50155783
62979766
76303387
91972266
105710620
122775046
131669275
151325798
179323175
203302031
226542199
248718301
281421906
308745538

---
**6 - Cost List**
- Extract the **"Census Cost"** column from the data_list and assign them to a list named **cost_list**. 
- Remove the ",", "\$", and "Billion".
Make sure to add the "0"s to the numbers where "Billion" is removed.
- Print the cleansed cost_list.

In [ ]:
def replace_billion(cost_string):

    # Remove blanks
    clean_cost = cost_string

    # Replace "Billion" with appropriate zeros
    if "Billion" in clean_cost.split():
        clean_cost = clean_cost.replace("Billion","")
        clean_cost = str(int(float(clean_cost)*1000000000))

    return clean_cost

In [ ]:
cost_list = []
for line in data_list:

    # Census Cost is the third field in each line
    cost_list.append(line.strip("\n").split('\t')[2].replace(",","").replace("$",""))
    
# Replace cost values containing "Billion"
cost_list = [replace_billion(cost) for cost in cost_list]
cost_list

['44377',
 '66109',
 '178445',
 '208526',
 '378545',
 '833371',
 '1423351',
 '1969377',
 '3421198',
 '5790678',
 '11547127',
 '11854000',
 '15968000',
 '25117000',
 '40156000',
 '67527000',
 '91462000',
 '127934000',
 '247653000',
 '1078488000',
 '2492830000',
 '4500000000',
 '13000000000']

In [ ]:
for cost in cost_list:
    print(cost)

44377
66109
178445
208526
378545
833371
1423351
1969377
3421198
5790678
11547127
11854000
15968000
25117000
40156000
67527000
91462000
127934000
247653000
1078488000
2492830000
4500000000
13000000000

---
**7 - Avg List**
- Extract the **"Average Cost per Person"** column from the data_list and assign them to a list named **avg_list**. 
- Remove the "cents", and "$". Make sure to divide the numbers in cents by 100 so that all numbers are measured in dollar. 
- Print the cleansed avg_list.

In [ ]:
def replace_cents(cost_string):

    clean_cost = cost_string

    # Replace "cents" by removing the word and dividing cost by 100
    if "cents" in clean_cost.split():
        clean_cost = clean_cost.replace("cents","")
        clean_cost = str("{:.4f}".format(float(clean_cost)/100))

    return clean_cost

In [ ]:
avg_list = []
for line in data_list:

    # Average Cost Per Person is the fourth field in each line
    avg_list.append(line.strip("\n").split('\t')[3].replace("$",""))
    
# Replace cost values containing "Billion"
avg_list = [replace_cents(cost) for cost in avg_list]
avg_list

['0.0113',
 '0.0124',
 '0.0246',
 '0.0216',
 '0.0294',
 '0.0488',
 '0.0614',
 '0.0626',
 '0.0887',
 '0.1154',
 '0.1833',
 '0.1554',
 '0.1707',
 '0.2376',
 '0.3271',
 '0.5129',
 '0.6044',
 '0.7134',
 '1.22',
 '4.76',
 '10.02',
 '15.99',
 '42.11']

In [ ]:
for avg_cost in avg_list:
    print(avg_cost)

0.0113
0.0124
0.0246
0.0216
0.0294
0.0488
0.0614
0.0626
0.0887
0.1154
0.1833
0.1554
0.1707
0.2376
0.3271
0.5129
0.6044
0.7134
1.22
4.76
10.02
15.99
42.11

---
**8 - CSV File**
- Coalesce the cleansed data and save them to a text file named **census_cost.csv**.
- The new file should look similar to the original source file except that it is in comma-delimited format and the numbers have been cleansed. 
- The top two lines from the original file should be retained in the new file.

In [ ]:
# Write the cleansed data to a CSV file
COMMA = ','
with open("census_cost.csv", "w") as csv_file:

    # Print top 2 lines
    for line in top2_list:

        # Replace tabs with commas
        csv_file.write(line.replace('\t',COMMA))

    # Print each line of the cleansed data list in CSV format
    for i in range(0,len(data_list)):
        csv_line = year_list[i] + COMMA + pop_list[i] + COMMA + cost_list[i] + COMMA + avg_list[i] + '\n'
        csv_file.write(csv_line)

# COMPLETE